<div>
    <h1 class="text-2xl font-extrabold text-neutral-900 dark:text-neutral">I have a newsletter...</h1>
    <p class="mb-6">Want to be notified when I write a new article?</p>
</div>

<a class="flex justify-center !rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
    role="button"
    onclick="window.open('https://tinyletter.com/rotrixx','popupwindow', 'scrollbars=yes,width=800,height=600'); return true"
>
    Click to subscribe!
</a>